<!DOCTYPE html>
<html ng-app="flokModule" ng-controller="flokCtrl">
<head>
    <meta charset="UTF-8"/>
    <title>flok</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="vendor/bower/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="vendor/bower/fontawesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="css/flok.css" type="text/css" rel="stylesheet" media="all"/>

    <%# libraries & vendors %>
    <script type="text/javascript" src="vendor/bower/jquery/dist/jquery<% if (environment !== 'development') { %>.min<% } %>.js"></script>
    <script type="text/javascript" src="vendor/bower/angular/angular<% if (environment !== 'development') { %>.min<% } %>.js"></script>
    <!--TODO remove route-->
    <script type="text/javascript" src="vendor/bower/angular-route/angular-route<% if (environment !== 'development') { %>.min<% } %>.js"></script>
    <script type="text/javascript" src="vendor/bower/angular-ui-router/release/angular-ui-router<% if (environment !== 'development') { %>.min<% } %>.js"></script>
    <script type="text/javascript" src="vendor/bower/angular-translate/angular-translate<% if (environment !== 'development') { %>.min<% } %>.js"></script>
    <script type="text/javascript" src="vendor/bower/angular-messages/angular-messages<% if (environment !== 'development') { %>.min<% } %>.js"></script>
    <script type="text/javascript" src="vendor/bower/angular-sanitize/angular-sanitize<% if (environment !== 'development') { %>.min<% } %>.js"></script>
    <script type="text/javascript" src="vendor/bower/angular-translate-loader-static-files/angular-translate-loader-static-files<% if (environment !== 'development') { %>.min<% } %>.js"></script>
    <script type="text/javascript" src="vendor/js/ui-bootstrap-tpls-0.6.0.js"></script>
    <script type="text/javascript" src="vendor/js/ui-utils-0.0.4.js"></script>


    <%# configure enabled modules %>
    <script type="text/javascript">
        var ENABLED_FLOK_COMPONENTS = [<% if (angularModules.length > 0) { %>'<%- angularModules.join("','") %>'<% } %>];
    </script>

    <%# flok core modules %>
    <script type="text/javascript" src="app/flok/angularPiwik.js"></script>
    <script type="text/javascript" src="app/flok/flokDirectives.js"></script>
    <script type="text/javascript" src="app/flok/flokFilters.js"></script>
    <script type="text/javascript" src="app/flok/onRootScope.js"></script>
    <script type="text/javascript" src="app/flok/flokModule.js"></script>
    <script type="text/javascript" src="app/flok/flokCtrl.js"></script>
    <script type="text/javascript" src="app/flok/interceptors.js"></script>

    <script type="text/javascript" src="app/menu/flokMenuModule.js"></script>
    <script type="text/javascript" src="app/menu/menuService.js"></script>

    <script type="text/javascript" src="app/user/LoginCtrl.js"></script>
    <script type="text/javascript" src="app/user/LogoutCtrl.js"></script>
    <script type="text/javascript" src="app/user/sessionService.js"></script>
    <script type="text/javascript" src="app/user/User.js"></script>
    <script type="text/javascript" src="app/user/UserCtrl.js"></script>

    <%# flok component modules %>
    <%
    var i = 0;
    for (i = 0; i < cssFiles.length; i++) { %>
    <link href="<%= cssFiles[i] %>" type="text/css" rel="stylesheet" media="all"/>
    <%
    }
    for (i = 0; i < jsFiles.length; i++) { %>
    <script type="text/javascript" src="<%= jsFiles[i] %>"></script>
    <%
    }
    %>

    <%# flok configuration %>
    <script type="text/javascript">
        angular.module('flokModule').constant('defaultComponent', '<%= defaultComponent %>');

        angular.module('flokModule').constant('localePathConst', '<%= localePath %>');

        angular.module('flokModule').constant('piwikConfig', {
            enable: <% if (piwik.enable) { %>true<% } else { %>false<% } %>,
            url: '<%= piwik.url %>',
            siteId: '<%= piwik.siteId %>'
        });

        angular.module('flokModule').constant('backendUrl', '<%= backendUrl %>');
    </script>

    <link rel="icon" type="image/x-icon" href="favicon<% if (environment === 'development') { %>-dev<% } %>.ico"/>
</head>

<body ng-cloak>
<div class="navbar navbar-fixed-top<% if (environment === 'development') { %> dev<% } %>" ng-if="hasValidSession()">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="menuShown = !menuShown">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" ng-class="{collapse: !menuShown}">

            <ul class="nav navbar-nav">
                <li ng-repeat="nav in menuItems">
                    <a href="{{ '#' + nav.url }}"><i class="{{ 'icon-' + nav.icon }}"></i>
                        <span translate="{{nav.name}}"></span></a>
                </li>
            </ul>
            <div ng-controller="UserCtrl" class="pull-right user-icon-container">
                <img class="user-icon" ng-src="{{ user.avatarUrl }}"/>
            </div>
                <span class="pull-right backendStatus">
                    <i class="icon-spinner icon-spin icon-2x" ng-show="backendStatus === 'requesting'"></i>
                    <i class="icon-warning-sign icon-2x error" ng-show="backendStatus === 'error'"></i>
                    <i class="icon-ok icon-2x success" ng-show="backendStatus === 'success'"></i>
                </span>
        </div>
    </div>
</div>

<div class="text-center overlay" ng-hide="contentLoaded">
    <i class="icon-spinner icon-spin icon-4x overlay-spinner"></i>
</div>
<div ng-cloak ng-view></div>

<footer>
    <div class="grid-container text-muted">
        <span class="pull-right">
            <button popover="{{ 'flok.title'| translate }} - {{ 'flok.version'| translate }} <%= version %>"
                    popover-trigger="mouseenter"
                    popover-placement="left"
                    class="btn btn-link">
                <i class="icon-info"></i>
            </button>
        </span>
    </div>
</footer>
</body>
</html>
